@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9158 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9249 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.5382 0 0);
  --primary-foreground: oklch(0.9761 0 0);
  --secondary: oklch(0.7572 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.3211 0 0);
  --accent: oklch(0.5452 0 0);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3155 0.0466 80.4212);
  --input: oklch(0.4748 0 0);
  --ring: oklch(0.3600 0 0);
  --chart-1: oklch(0.2478 0 0);
  --chart-2: oklch(0 0 0);
  --chart-3: oklch(0.5227 0.2218 260.7013);
  --chart-4: oklch(0.6781 0.2307 142.4953);
  --chart-5: oklch(0.5491 0.2524 328.3634);
  --sidebar: oklch(0.9551 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.6325 0.2531 28.6814);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5227 0.2218 260.7013);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.6325 0.2531 28.6814);
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 1.4rem;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.20);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.20);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 2px 4px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 4px 6px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 8px 10px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2264 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.5624 0 0);
  --primary: oklch(0.9911 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2178 0 0);
  --muted-foreground: oklch(0.8452 0 0);
  --accent: oklch(0.4276 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5624 0 0);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.2999 0.0466 80.0513);
  --input: oklch(0.3600 0 0);
  --ring: oklch(0.7412 0 0);
  --chart-1: oklch(0.6616 0.2249 25.8784);
  --chart-2: oklch(0.9682 0.2088 109.7380);
  --chart-3: oklch(0.6379 0.1980 254.3344);
  --chart-4: oklch(0.7270 0.2377 142.6375);
  --chart-5: oklch(0.5943 0.2591 328.2474);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(0.9911 0 0);
  --sidebar-primary: oklch(0.6616 0.2249 25.8784);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.6379 0.1980 254.3344);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.6616 0.2249 25.8784);
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 1.4rem;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.20);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.20);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 1px 2px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 2px 4px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 4px 6px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 0.40), 4px 8px 10px -1px hsl(0 0% 10.1961% / 0.40);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 10.1961% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body {
  @apply min-h-dvh;

  font-family: "Merriweather", serif;
}